@model WebApp3.Models.Route

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Route</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           Towns
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Places
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HowManyPlaces)
        </dd>
        <dt class = "col-sm-2">
            Place
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.place)
        </dd>
        <dt class = "col-sm-2">
            Date and time
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datafrom)
        </dd>
        <dt class = "col-sm-2">
            Price
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            Your telephone number
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telephone)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isFav)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isFav)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
